{% extends "themes/base_admin.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des catégories</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('admin_category_create')}}" class="btn btn-primary shadow"><i class="fa-solid fa-plus"></i> Nouvelle catégorie</a>
    </div>
{% endblock %}